<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Homebrew</div>
    <form class="ui form" action="/blogs" method="POST">
       <div class="field"><label>Beer Name</label> 
        <input type="text" name="blog[title]" placeholder="Beer Name"></div>
        <div class="field"><label>Image URL (optional)</label>
            <input type="text" name="blog[created]" placeholder="Image"></div>
       <div class="field"><label>Beer Style (BJCP)</label> 
        <input type="text" name="blog[styleName]" placeholder="Beer Style (BJCP)">
    </div>
        <div class="field"><label>Batch Size</label><input type="text" name="blog[batchSize]" placeholder="Batch Size"></div>
        <div class="field"><label>Notes on Mash Schedule</label>
            <textarea name="blog[mashSchedule]" placeholder="Notes on Mash Schedule"></textarea>
        </div>
        <div class="field"><label>Enter boil time (minutes)</label>
            <input type="text" name="blog[boilTime]" placeholder="Enter boil time in minutes">
        </div>
        <div class="field"><label>Notes on grains used</label>
            <textarea name="blog[grains]" placeholder="Notes on grains used"></textarea>
        </div>
        <div class="field"><label>Notes on hops used</label>
            <textarea name="blog[hops]" placeholder="Notes on hops used"></textarea>
        </div>
        <div class="field"><label>Notes on yeast used</label>
            <textarea name="blog[yeast]" placeholder="Notes on yeast used"></textarea>
        </div>
        <div class="field"><label>Notes on adjuncts used</label>   
            <textarea name="blog[adjuncts]" placeholder="Notes on adjuncts or other ingredients used"></textarea>
        </div>  
        <div class="field"><label>General notes and comments</label>
            <textarea name="blog[generalNotes]" placeholder="General notes or comments"></textarea>
        </div>
           <input class="ui green basic button" type="submit">

<% include partials/footer %>